nav {
	font-family: 'Francois One', sans-serif;
	font-size: 20px;
}

nav, h1, footer {
	text-align: center;
}
footer ul, nav ul {
	list-style-type: none;
}

footer li, nav li {
	display:inline;
	padding: 10px;
}

nav li:first-child {
	border-right: 2px solid;
}

h1 {
	font-size: 40px;
}
.upper{
	text-transform: uppercase;
}

article {
	border-top: 1px solid;
	border-bottom: 1px solid;
	padding: 20px 20px;
	width:700px;
	margin: 0 auto;
	display: flex;
	flex-wrap:wrap;
	
}

h2 {
	font-size: 25px;
	text-align: left;
	margin-bottom: -2px;
}

p{
	text-align:left;
}

.col:first-child {
	width: 60%;
}
.col:last-child{
	width: 40%;
}
.col img {
	height: 200px;
	padding-left: 50px;
}
li img {
	padding-bottom: 30px;
}
span:first-child {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-style:italic;
}
span:nth-child(2){
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
}
span:nth-child(3) {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 13px;
}